<!-- This must be first line of file:   -*- mode: html;  -*- -->

<footer class="footer">
  <p>
    Open source, &copy; Students of UCSB CMPSC 56.  Released under MIT License <br>
    Code at: <a href="https://github.com/UCSB-CS56-Projects/cs56-webapps-curriculum">
    https://github.com/UCSB-CS56-Projects/cs56-webapps-curriculum</a>
  </p>
</footer>
