<!DOCTYPE html>  <!-- -*- mode: html -*- -->
<html>
{{>head}}
<title></title>
<body>
{{>nav}}

<h1>Lookup by Major Code</h1>

<p>This page hard codes the choice of Winter 2017 ("20171") and
  "Undergraduate"</p>.  

  <p>Enter a major code and click "submit" to see a list of matching records</p>

  <form action="/lookup/majorcode/result">
    Major Code:<br>
    <input type="text" name="major_code" value="CMPSC">
    <input type="submit" value="Submit">
  </form>

{{>footer}}
</body>
</html>
